
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 1 auto;
}

.container{
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
    height: 100%;
}