
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 1 auto;
}

.container{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
    height: 100%;
}

._ibg{
    position: relative;

    & img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}