@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

/* header
========================================================================================================*/
.header{
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    &__item + .menu__item{
    margin-left: 35px;
    }
    &__link{
        @extend %quicksand-400;
        color: $title;
        padding-bottom: 1px;
        transition: all .2s linear;
        &:hover{
           @extend %quicksand-500;
            color: $accent;
            border-bottom: 1px solid $accent;
        }
    }
    &__link-active{
        @extend %quicksand-500;
        color: $accent;
        border-bottom: 1px solid $accent;
    }
}

.user-nav{
    &__link{
        position: relative;
    }
    display: flex;
    &__link + .user-nav__link{
        margin-left: 25px;
    }
    &__num{
        position: absolute;
        right: -12px;
        top: -12px;
        z-index: 1;
        background-color: $accent;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        color: #fff;
    }
}
/* /header
================================================================================================================================ */

.top-slider{
    background-image: url('../images/slider/top-slider-bg.png');
    background-repeat: no-repeat;
    background-color: $bg;
    padding: 65px 0 0 0;
    box-sizing: content-box;
    &__content{
        padding-top: 100px;
        flex: 1 0 auto;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
    }
    &__title{
        max-width: 560px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
        margin-bottom: 35px;
    }
    &__text{
        max-width: 470px;
        margin-bottom: 55px;
    }
    &__link{
        padding: 14px 35px;
    }
}

.slick-dots{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    li{
        padding: 0px 5px;
        button{
            padding: 0;
            font-size: 0;
            background-color: transparent;
            width: 27px;
            height: 27px;
            border: 1px solid transparent;
            border-radius: 50%;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $default;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.slick-active{
            button{
                border-color: $accent;
                &::before{
                    background-color: $accent;
                }
            }
        }
    }
}

.main__button{
    background: $accent;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 7px 20px 0 rgba(255,17,48,.3);
    @extend %roboto-400;
    border: none;
    cursor: pointer;
}



/* footer */
    .footer{
        background-color: $bg;
    }

    .footer-top{
        padding: 70px 0 40px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        border-bottom: 1px solid #ececec;
        justify-content: space-between;
        &__logo{
            display: block;
            margin-bottom: 30px;
        }

        &__item{
           flex: 0 1 180px;
        }
        &__list-item{
            margin-bottom: 14px;
        }
        &__item-title{
            @extend %roboto-400;
            margin-bottom: 33px;
            font-size: 22px;
            color: $title;
        }
        &__social-list{
            display: flex;
        }
        &__social-item {
            margin-right: 10px;
        }
        &__item-link{
            display: block;
            
        }
        &__social-link{
           display: inline-block;
           margin-right: 15px;
           path{
            fill: $default;
           }
        }
        &__item-adress{
            flex: 0 1 250px;
        }
        &__item-form{
            flex: 0 1 470px;
        }
        &__form{
            display: flex;
        }
        &__form-text{
            margin-bottom: 25px;
        }
        &__form-input{
            flex: 1 1 auto;
        }
        &__form-btn{
            padding: 12px 26px;
        }
    }
    .footer-bottom{
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
        &__accept{
            display: flex;
            column-gap: 25px
        }
    }

    .section-title {
        text-align: center;
        font-size: 48px;
        line-height: 65px;
        color: $title;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .section-subtitle{
        text-align: center;
        max-width: 570px;
        margin: 0 auto 55px;
    }
    
    .categories {
        padding: 120px 0;
        position: relative;
        &::before,
        &::after{
            content: '';
            position: absolute;
            z-index: -1;
          
        }
        &::before{
            background: url('../images/categories/decor/categories-left.png') no-repeat center center / cover;
            left: 0;
            top: 50%;
            width: 249px;
            height: 666px;
            transform: translateY(-50%);
        }
        &::after{
            background: url('../images/categories/decor/categories-right.png');
            right: 0;
            top: 50%;
            width: 324px;
            height: 864px;
            transform: translateY(-50%);
        }
        .top-items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            position: relative;
            margin-bottom: 110px;
            &::before,
            &::after{
                content: '';
                position: absolute;
                z-index: -1;
            }
            &::before{
                background: url('../images/categories/decor/info-before.svg');
                width: 120px;
                height: 121px;
                left: -40px;
                top: -45px;
            }
            &::after{
                background: url('../images/categories/decor/info-after.svg');
                width: 65px;
                height: 52px;
                right: -5px;
                bottom: -20px;
            }
            .top-item {
                flex: 0 0 33.333333%;
                padding: 0 15px;
                justify-content: space-between;
                
                    &__content{
                        padding: 60px 30px;
                        box-shadow: 20px 0 60px 0 rgba(202,202,202,.35);
                        background: #fff;
                        height: 100%;
                    }
                    &__image {
                        margin-bottom: 40px;
                    }
            
                    // .top-item__title
            
                    &__title {
                        flex: 1 1 auto;
                        @extend %roboto-400;
                        font-size: 22px;
                        color: $title;
                        margin-bottom: 10px;
                    }
            }
        }

    .categories {
    
            &__items {
                display: grid;
                min-height: 635px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 30px;
            }
    
            // .categories__item
    
            &__item {
                padding-top: 35px;
                padding-left: 40px;
                &:nth-child(1){
                    background: url(../images/categories/03.png) no-repeat center center / cover;
                    grid-row: span 2;
                    .categories__item-info{
                        color: #5800e4;
                    }
                    .categories__item-link:hover{
                        color: #5800e4;
                    }
                }
                &:nth-child(2){
                    background: url(../images/categories/04.png) no-repeat center center / cover;
                    grid-column: span 2;
                    padding-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .categories__item-info{
                        color: #fe3e57;
                    }
                    .categories__item-link:hover{
                        color: #fe3e57;
                    }
                }
                &:nth-child(3){
                    background: url(../images/categories/02.png) no-repeat center center / cover;
                    .categories__item-info{
                        color: #ffb534;
                    }
                    .categories__item-link:hover{
                        color: #ffb534;
                    }
                }
                &:nth-child(4){
                    background: url(../images/categories/01.png) no-repeat center center / cover;
                    .categories__item-info{
                        color: #34c3ff;
                    }
                    .categories__item-link:hover{
                        color: #34c3ff;
                    }
                }
            }
    
            // .categories__item-info
    
            &__item-info {
                margin-bottom: 5px;
            }
    
            // .categories__item-title
    
            &__item-title {
                font-size: 22px;
                margin-bottom: 16px;
                color: $title;
                font-weight: 700;
            }
    
            // .categories__item-link
    
            &__item-link {
                text-transform: uppercase;
                color: $title;
                transition: all .2s ease-in
            }
    }
    
    }

.product{
    padding: 0 0 120px 0;
}
.product__link{
    text-align: center;
    margin-top: 55px;
    &-item{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        color: $title;
        text-transform: uppercase;
        border: 1px solid $accent;
        min-height: 55px;
        padding: 0 27px;
    }
}

.product-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 30px;
}
.product-item {
        &:hover .product-item__link-box{
            opacity: 1;
        }
		// .product-item__picture

		&__picture._ibg {
            padding-bottom: 100%;
		}

		// .product-item__link-box

		&__link-box {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-around;
            left: 50%;
            bottom: 50px;
            background-color: #fff;
            z-index: 1;
            transform: translateX(-50%);
            border-radius: 22px;
            width: 220px;
            min-height: 50px;
            opacity: 0;
            transition: all .2s linear;
		}
       
        &__link-box a:nth-child(even){
                padding: 5px 30px;
                border-right: 2px solid #ececec;
                border-left: 2px solid #ececec;
        }

		// .product-item__link

		&__link {
            display: inline-block;
            line-height: 0;
            height: 100%;
            path{
                transition: all .2s linear;
            }
            &:hover path{
                fill: $accent;
            }
		}

		// .product-item__star-rating

		// .product-item__product-title

		&__product-title {
            font-size: 16px;
            padding: 15px 0 20px;
            color: $title;

		}

		// .product-item__product-price

		&__product-price {
            display: flex;
            justify-content: center;
		}

		// .product-item__current-price

		&__current-price {
            color: $title;
            padding: 0 12px;
		}

		// .product-item__old-price

		&__old-price {
            text-decoration: line-through;
            padding: 0 12px;
		}
}
.product-item--sale{
    position: relative;
    &::before{
        content: 'SALE';
        display: block;
        padding: 7px 27px;
        position: absolute;
        left: 25px;
        top: 25px;
        color: #fff;
        background-color: $accent;
        z-index: 1;
        box-shadow: 0 7px 20px 0 rgba(255,17,48,.3);
    }
}
.product-item-body {
    text-align: center;
}
.star{
    margin: 0 auto;
    margin-top: 15px;
}
.jq-ry-container {
    position: relative;
    padding: 0 5px;
    line-height: 0;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr;
  }
  .jq-ry-container[readonly="readonly"] {
    cursor: default;
  }
  .jq-ry-container > .jq-ry-group-wrapper {
    position: relative;
    width: 100%;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
    display: inline-block;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
    width: 100%;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
    width: 0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  
  

    

@import 'media';

